.conditional_searchbtn {
  border-radius: 0.25rem;
  font-size: 1em;
  color: #fff;
  background: $colorPrimary url("../images/icon/icon_search.svg");
  background-position: 20px 12px;
  background-repeat: no-repeat;
  background-size: 16px;
  padding-left: 46px;
  border: 1px solid $colorPrimary;
  border-radius: 0;
  &:hover {
    color: #fff;
    background: $colorSecondary url("../images/icon/icon_search.svg");
    background-position: 20px 12px;
    background-repeat: no-repeat;
    background-size: 16px;
    border: 1px solid $colorSecondary;
  }
}
.conditional_searchblock {
  box-shadow: 0 0 40px 2px rgba($color: #000000, $alpha: 0.1);
  margin-top: 0.5rem;
  padding: 1rem;
  display: none;
  .formTitle {
    font-weight: 500;
  }
  .formGrid {
    border-top: none;
  }
  .flex_6_6 {
    display: flex;
    flex-wrap: wrap;
    .formGrp {
      width: 50%;
    }
    @include screen("mobile") {
      .formGrp {
        width: 100%;
      }
    }
  }
}
.cjkList {
  li {
    list-style-type: cjk-ideographic;
  }
}
.lp table {
  background: #fff;
  td {
    &.num {
      text-align: end;
      @include screen("mobile") {
        text-align: left;
      }
    }
    &.type {
      text-align: center;
      color: #000;
      @include screen("mobile") {
        text-align: left;
      }
    }
    .fileDownload {
      padding-left: 0;
      margin-bottom: 0;
      li {
        padding-left: 0;
        &::before {
          display: none;
        }
        span {
          a {
            margin: 0.1em;
            font-size: 0.85em;
          }
        }
      }
    }
  }
}

.lp {
  .cardList {
    padding: 0;
    p {
      margin-top: 0.75em;
    }
    a {
      .name,
      .type,
      time {
        font-size: 0.8em;
        line-height: 1.25em;
      }
    }
  }
  .videoList {
    padding: 0;
    .flexSet {
      // justify-content: flex-start;
    }
    .title {
      @include textLine(2, 1.5em);
    }
    time {
      font-size: 0.8em;
      line-height: 1.25em;
    }
    a {
      .imgContainer {
        img {
          transition: all 0.3s;
        }
        &::before {
          content: "";
          position: absolute;
          background: url(../images/playIcon.svg) no-repeat;
          width: 100%;
          height: 100%;
          background-size: contain;
          background-position: center center;
          transition: all 0.3s;
          opacity: 1;
        }
      }
      &:hover,
      &:focus {
        .imgContainer {
          img {
            transform: scale(1.1);
            transition: all 0.3s;
          }
          &::before {
            transition: all 0.3s;
            opacity: 0;
          }
        }
      }
    }
  }
  .thumbnail {
    flex-basis: calc(100% / 4 - 16px);
    max-width: calc(100% / 4 - 16px);
    margin: 12px 0;
    @include screen("tablet") {
      flex-basis: calc(100% / 3 - 16px);
      max-width: calc(100% / 3 - 16px);
    }
    @include screen("mobile") {
      flex-basis: calc(100% / 2 - 16px);
      max-width: calc(100% / 2 - 16px);
    }
    @include screen("xsMobile") {
      flex-basis: calc(100% - 16px);
      max-width: calc(100% - 16px);
    }
    .caption {
      .title {
        color: $colorPrimary;
      }
      p {
        color: #000;
      }
    }
    .imgContainer {
      img {
        transition: all 0.3s;
      }
    }
    &:hover,
    &:focus {
      .imgContainer {
        img {
          transform: scale(1.1);
          transition: all 0.3s;
        }
      }
    }
  }
  .accordion {
    .accordionTable {
      overflow-x: scroll;
    }
    table {
      ul {
        padding-left: rem(40);
        list-style: disc;
      }
    }
    .aList {
      margin: 1em 0;
      a {
        margin-right: 0 0.5em;
        text-decoration: underline;
      }
    }
  }
}
